* {
    padding: 0;
    margin: 0;
}

/* .btns {
    margin: 0 auto;
    text-align: center;
}

button {
    width: 50px;
    height: 50px;
}

.active {
    background-color: blue;
} */

.container {
    width: 1020px;
    margin: 0 auto;
}

header {
    padding: 5px 0;
}

.header_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.menu {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.menu a {
    color: rgba(0, 0, 0, 0.80);
    text-decoration: none;
    font-size: 15px;
}

.credit {
    background-color: rgb(246, 243, 243);
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.credit p {
    text-align: center;
}

.deals {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
}

.deals_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(246, 243, 243);
    padding-left: 50px;
    padding-right: 80px;
    width: 980px;
height: 66px;
flex-shrink: 0; 
}

.logo1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
    font-size: 14px;
}

.logo2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
    font-size: 14px;
}

.Buy p{
    font-size: 20px;
    font-weight: 700;
}

.Buy h1 {
    font-size: 50px;
}

.picture {
    padding-top: 40px;
}

.picture img {
    border-radius: 5%;
    width: 900px;
    text-decoration: 3s;
}

.Buy {
    width: 90%;
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.Buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
}

.buy_left {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}

.buy_left button {
    padding: 15px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.left_right {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.right {
    padding-top: 100px;
}

.left {
    padding-right: 10%;
}

.picture{
    top: 20px;
    position: sticky;
}


.span1 {
    font-weight: 600;
}

.iphone_btns {
    padding-top: 50px;
}

.button_second {
    padding-top: 20px;
}

.btn_first button {
    background-color: white;
    border-color: blue;
    border-width: 2px;
    padding: 10px 54px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 40px;
}

.button_second button{
    background-color: white;
    border-color: blue;
    border-width: 2px;
    padding: 12px 41px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 40px;
}

.button_third {
    padding-top: 20px;
}

.button_third button{
    border: none;
    padding: 20px 51px;
    border-radius: 15px;
}

.space {
    padding-top: 150px;
}

.span_space {
    font-size: 30px;
    font-weight: 600;
}

.pre_span {
    font-size: 25px;
}

.b_first {
    padding-top: 20px;
}

.colors {
    padding-top: 80px;
}

.colors p1 {
    font-size: 30px;
}

.colors p2 {
    font-size: 23px;
}



.colors h2 {
    padding-top: 40px;
}

.four_colors {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 17px;
    padding-top: 25px;
}

.four_colors button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

.deep {
    background-color: rgb(255, 0, 255);
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.black {
    background-color: black;
}

.space {
    padding-top: 175px;
}

.span_space {
    font-size: 30px;
    font-weight: 600;
}

.pre_span {
    font-size: 25px;
}

.active {
    border: 2px solid blue;
}

.btn_one {
    padding-top: 15px;
}

.btn_one button {
    padding-right: 85px;
}